{% extends 'core/base.html' %}

{% block content %}

{% include "scores/scores_menu.html" %}

<h2>Cryptonomicon</h2>

<br /><br /><br />

<div style="text-align: center;">
Create a Team
<form method="POST">{% csrf_token %}
    <select name="team-mate">
        {%for z in all_users %}
            <option value="{{ z.username }}">{{ z.username }}</option>
        {% endfor %}
    </select>
    <input type="text" name="name" placeholder="Team Name" />
    <input type="text" name="crypts_wave" placeholder="Waves Completed" />
    <input type="text" name="crypts_remaining" placeholder="# Left on Failed Wave" />
    <br/>
    <button class="createTeam" name="createTeamButton" type="submit">Permanently Create Team</button>
</form>
</div>

<br /><br /><br />

<div>
 

    {%for z in all_teams %}
        <table>
            <tr>
                <td width="200px">{{ z.name }}</td>
                <td width="200px">{{ z.get_players }}</td>
                <td width="100px">{{ z.crypts_wave }}</td>
                <td width="100px">{{ z.crypts_remaining }}</td>
            </tr>
        </table>
    {% endfor %}

</div>


{% endblock %}