{% extends 'core/base.html' %}

{% block content %}

{% include "scores/scores_menu.html" %}

<h2>Cryptonomithon</h2>

<br /><br /><br />

<div style="text-align: center;">


{% if is_member %}
    <form method="POST">{% csrf_token %}
        {% for z in member_of %}
            <input type="text" name="name" value="{{ z.team }}" />
        {% endfor %}
        <input type="number" name="crypts_wave" placeholder="Waves Completed" />
        <input type="number" name="crypts_remaining" placeholder="# Left on Failed Wave" />
        <br/>
        <button class="submitScores" name="submitScoresButton" type="submit">Update Score</button>
    </form>
{% else %} 
Create a Team
    <form method="POST">{% csrf_token %}
        <select name="team-mate">
            {%for z in available_members %}
                <option value="{{ z.username }}">{{ z.username }}</option>
            {% endfor %}
        </select>
        <input type="text" name="name" placeholder="Team Name" />
        <input type="number" name="crypts_wave" placeholder="Waves Completed" />
        <input type="number" name="crypts_remaining" placeholder="# Left on Failed Wave" />
        <br/>
        <button class="createTeam" name="createTeamButton" type="submit">Permanently Create Team</button>
    </form>
{% endif %}


</div>

<br /><br /><br />

<div>
 

    {%for z in all_teams %}
        <table>
            <tr>
                <td width="200px">{{ z.name }}</td>
                <td width="200px">{{ z.get_players }}</td>
                <td width="100px">{{ z.crypts_wave }}</td>
                <td width="100px">{{ z.crypts_remaining }}</td>
            </tr>
        </table>
    {% endfor %}

</div>


{% endblock %}