{% extends 'core/base.html' %}

{% block content %}

<!--
<form method="POST">{% csrf_token %}
    {%for z in todo_form %}
        	{% if z.value == False %}
                <div class='toDoItem'>{{ z }}{{ z.label }}</div><br/>
            {% else %}
                <div style="visibility:hidden;position:absolute;">{{ z }}</div>
		    {% endif %}
    {% endfor %}
    <button name="todoUpdateButton" type="submit">Update todo</button>
</form>
-->

{{ latest_question.question_text }}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if latest_question_list %}
    {% for question in latest_question_list %}
<div class="card-group">
<div class="card w-50">
    <div class="card-block">    
        <h4>{{ question.question_text }}</h4>


        <form method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
        <input type="submit" value="Vote" />
        </form>
    </div>
</div>
</div>


    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}

<!--
<input id="{{ field.name }}"" name="{{ field.name }}" value="{{ field.name }}" type="text" />
-->

{% endblock %}

