<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />

{% block content %}


<!--
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
    {%for field in form %}
        <input id="{{ field.id_for_label }}"" name="{{ field.html_name }}" value="{{ field.name }}" type="text" />
    {% endfor %}
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
-->
<div class="container login-page">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-6 col-lg-3 login-form">

      <div class="loginError" style="color:#fff;position:fixed;width:100%;text-align:center;top:100px;">
        {% if form.errors %}
        <p>stay determined. . .</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
      </div>

      <form method="post" action="{% url 'login' %}">
      {% csrf_token %}


      <div class="form-group">{{ form.username }}</div>
      <div class="form-group">{{ form.password }}</div>

        <button class="loginInput btn btn-primary btn-block" type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />

      </form>

  

      <p class="text-right">No account yet?&emsp;<button class="loginInput btn btn-outline-primary" onclick="location.href='/signup';">Sign Up</button></p>

      

      </form>
    </div>
  </div>
</div>

{% endblock %}