<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Encode+Sans:100,200,300,500,700|Orbitron:400,900" rel="stylesheet"> 
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />

<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">LANtopia</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  	</button>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/home/' %} active {% endif %}" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/profile/' %} active {% endif %}" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/games/' %} active {% endif %}" href="/games">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/players/' %} active {% endif %}" href="/players">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/scores/' or request.path == '/scores/caps/' or request.path ==  '/scores/crypts/' %} active {% endif %}" href="/scores">Leaderboards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/picks/' or request.path == '/picks/games/' or request.path == '/picks/movies/' or request.path == '/picks/tv/' or request.path == '/picks/songs/' %} active {% endif %}" href="/picks">Recommendations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/polls/' %} active {% endif %}" href="/polls">Vote</a>
      </li>
     </ul>
    </div>
 </nav>


<div class="container">
{% block content %}
{% endblock %}
</div>