{% extends 'core/base.html' %}

{% block content %}

	<h1 class="display-2 sickshadow">LANtopia</h1>

STEAM
<ul>
	<li>Chivalry: Medieval Warfare</li>
	<li>Left 4 Dead 2</li>
	<li>Team Fortress 2</li>
	<li>Firstful of Frags</li>
	<li>Nuclear Dawn</li>
	<li>Counter-Strike: GO</li>
	<li>Blackwake</li>
</ul>

BLIZZARD
<ul>
	<li>Overwatch</li>
	<li>Starcraft: Remastered</li>
</ul>

FTP
<ul>
	<li>Myth 2</li>
	<li>Unreal Tournament 2k4</li>
	<li>Unreal Tournament 2k4</li>
	<li>Quake III</li>
	<li>Serious Sam 2</li>
	<li>Warcraft III: TFT</li>
	<li>Age of Empires II</li>
	<li>Command & Conquer Red Alert</li>
	<li>Worms Armageddon</li>
	<li>Doom (1993)</li>
</ul>

{% endblock %}