{% extends 'core/base.html' %}

{% block content %}

	<h1 class="display-2 sickshadow-black">Games</h1>
<div class="row">
	<div class="col-md">
		<h4>STEAM</h4>
		<ul>
			<li>Chivalry: Medieval Warfare</li>
			<li>Left 4 Dead 2</li>
			<li>Team Fortress 2</li>
			<li>Firstful of Frags</li>
			<li>Nuclear Dawn</li>
			<li>Counter-Strike: GO</li>
			<li>Blackwake</li>
		</ul>
	</div>
	<div class="col-md">

		<h4>BLIZZARD</h4>
		<ul>
			<li>Overwatch</li>
			<li>Starcraft: Remastered</li>
		</ul>
	</div>
	<div class="col-md">

		<h4>FTP</h4>
		<ul>
			<li>Myth 2</li>
			<li>Unreal Tournament 2k4</li>
			<li>Unreal Tournament 2k4</li>
			<li>Quake III</li>
			<li>Serious Sam 2</li>
			<li>Warcraft III: TFT</li>
			<li>Age of Empires II</li>
			<li>Command & Conquer Red Alert</li>
			<li>Worms Armageddon</li>
			<li>Doom (1993)</li>
		</ul>
	</div>
</div>

{% endblock %}