{% extends 'core/home.html' %}

{% block content %}

<h2>{{ user.username }}</h2>
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Game: {{ user.profile.game }}</li>
  <li>Movie: {{ user.profile.movie }}</li>
  <li>TV: {{ user.profile.tv }}</li>
  <li>Song: {{ user.profile.song }}</li>
  <li>Unpacked: {{ user.profile.unpacked }}</li>
</ul>


<form method="POST">{% csrf_token %}
    <!--{{ password_form.password }}
    #{{ profile_form.as_p }}-->

    {%for z in password_form %}
            {{ z.label_tag }} - {{ z }} <br/>
    {% endfor %}
    <button class="loginButton" type="submit">Update Password</button>
</form>

<br /><br />

<form method="POST">{% csrf_token %}
    {%for z in todo_form %}
        	{% if z.value == False %}
                <div class='toDoItem'>{{ z }}{{ z.label }}</div><br/>
            {% else %}
                <div style="visibility:hidden;position:absolute;">{{ z }}</div>
		    {% endif %}
    {% endfor %}
    <button name="todoUpdateButton" type="submit">Update todo</button>
</form>

<form method="POST">{% csrf_token %}
    {%for z in profile_form %}
        {{ z.label_tag }} - {{ z }}<br/>
    {% endfor %}
    <button class="loginButton" name="profileUpdateButton" type="submit">Update Profile</button>
</form>

<a href="/logout">logout</href>

{% endblock %}
