{% extends 'core/base.html' %}

{% block content %}

<div class="row">
  <div class="col profile-heading">
    <h1 class="display-3">{{ user.username }}</h1>
  </div>
</div>



<div class="row dark-black">
  <div class="col">
    <h4>LANtopia Check List</h4>

    <form method="POST">{% csrf_token %}
      {%for z in todo_form %}
        {% if z.value == False %}
          <div class="form-group">
            <label class='toDoItem form-check-label'>{{ z }}&emsp;{{ z.label }}</label>
          </div>
        {% else %}
          <p style="display:none;">{{ z }}</p>
        {% endif %}
      {% endfor %}
    </form>

  </div>

  <div class="col">

    <h4>Change Password</h4>

    <form method="POST">{% csrf_token %}
        {%for z in password_form %}
            <div class="form-group">
                {{ z.label_tag }}
                {{ z }}
            </div>
        {% endfor %}
        <button class="passwordUpdateButton btn btn-primary" name="passwordUpdateButton" type="submit">Update Password</button>
    </form>

  </div>
  <div class="col">
    <h4>Recommendations</h4>

    <form method="POST">{% csrf_token %}
        {%for z in profile_form %}
            <div class="form-group">{{ z.label_tag }}{{ z }}</div>
        {% endfor %}
        <button class="loginButton btn btn-primary" name="profileUpdateButton" type="submit">Update Profile</button>
    </form>

  </div>
</div>


{% endblock %}
