<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />

{% block content %}


<!--
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
    {%for field in form %}
        <input id="{{ field.id_for_label }}"" name="{{ field.html_name }}" value="{{ field.name }}" type="text" />
    {% endfor %}
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
-->
<div class="container login-page">
  <div class="row login-page justify-content-center align-content-center">
    <div class="col-sm-6 col-lg-3 login-form">
      <div class="login-error">
        {% if form.errors %}
        <p>stay determined&hellip;</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
      </div>

      <form method="post">
        {% csrf_token %}


        {% for field in form %}
            
            <div class="form-group">{{ field }}</div>
            
            {% for error in field.errors %}
              <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endfor %}
      <button class="loginInput btn btn-primary btn-block" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>



{% endblock %}