{% extends 'core/base.html' %}

{% block content %}

{% include "picks/picks_menu.html" %}

<h2 class="display-4">MOVIES</h2>

 <table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Recommended Movie</th>
            <th scope="col">YouTube Link</th>
        </tr>
    </thead>
    <tbody>
    
    {%for z in all_users %}
    	{% if z.profile.movie != '' %}
        
        <tr>
            <td>{{ z.username }}</td>
            <td>{{ z.profile.movie }}</td>
            <td><a href="http://google.com/search?q=youtube+{{ z.profile.movie }}&btnI" target="_blank">youtube</a></td>
        </tr>
            
        {% endif %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}