
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link {% if request.path == '/picks/games/' %} active {% endif %}" href="/picks/games">games</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if request.path == '/picks/songs/' %} active {% endif %}" href="/picks/songs">songs</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if request.path == '/picks/movies/' %} active {% endif %}" href="/picks/movies">movies</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if request.path == '/picks/tv/' %} active {% endif %}" href="/picks/tv">tv</a>
	</li>
</ul>