
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link {% if request.path == '/picks/games/' or request.path == '/picks/' %} active {% endif %}" href="/picks/games">Games</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if request.path == '/picks/songs/' %} active {% endif %}" href="/picks/songs">Songs</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if request.path == '/picks/movies/' %} active {% endif %}" href="/picks/movies">Movies</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if request.path == '/picks/tv/' %} active {% endif %}" href="/picks/tv">TV</a>
	</li>
</ul>