

/*.loginPrompt{
	text-align:center;
	margin-top:150px;
	color:#fff
}

.loginError{
	color:#fff;
	position:fixed;
	width:100%;
	text-align:center;
	top:100px;
}

.loginInput{
	padding:10px;
	margin:10px;
	background: #222;
	color:#fff;
	border:none;
	text-align:center;
    width:150px;
}

.loginButton{
	background-color: #222; 
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { 
   text-align: center;  
}

::-moz-placeholder {  
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

 */